---
layout: layouts/base.liquid
title: Curriculum Vitae
stylesheets:
 - "/cv/index.css"
---
<main>
  <section class="wrapper flow prose region">
    <h2>Work</h2>
    <ul class="flow" role="list">
      <li>
        <strong>Full Stack Engineer | <a href="https://stitch.money" target="_blank">Stitch</a></strong>
        <p><em>May 2023 - Present</em></p>
        <p>Card integration</p>
        <ul>
          <li>Implemented recon process for card payments and reversals.</li>
          <li>Added end-to-end tests for successful payments.</li>
          <li>Provided guidance and feedback on adding a new payment method to existing hosted UI.</li>
        </ul>
      </li>
      <li>
        <strong>Engineering Team Lead | <a href="https://stitch.money" target="_blank">Stitch</a></strong>
        <p><em>June 2022 - April 2023</em></p>
        <p>Capitec Pay</p>
        <ul>
          <li>Led the team that integrated the Capitec Pay API, including recon and settlement for merchants.</li>
          <li>Provided technical oversight and communicated project status with stakeholders.</li>
          <li>Ran team meetings, including planning sessions and 1-1 check-ins with team members.</li>
          <li>Project included updates and refactorings across multiple services as well as one new service.</li>
          <li>Supported integration during go live process.</li>
          <li>Integration handles thousands of payments per day.</li>
        </ul>
        <p>Security</p>
        <ul>
          <li>Reviewed 3rd party pentest recommendations and scoped project to implement fixes.</li>
        </ul>
        <p>Stitch website</p>
        <ul>
          <li>Deployed Strapi CMS and Next.js site using Terraform.</li>
          <li>Reviewed contractor proposals for website projects.</li>
        </ul>
      </li>
      <li>
        <strong>Front End Engineer | <a href="https://stitch.money" target="_blank">Stitch</a></strong>
        <br>
        <em>June 2021 - May 2022</em>
        <p>Hosted UI</p>
        <ul>
          <li>Architected the web application for facilitating account linking and payment initiation.</li>
          <li>Runs on mobile, desktop, and can be embedded in other applications.</li>
          <li>Built with Next.js, Typescript, XState, and Tailwind to be modular and themable.</li>
          <li>Collaborated with designers and implemented custom generic components and pages from Figma designs.</li>
          <li>Developed a mechanism for loading custom forms dynamically.</li>
          <li>Integrated server with Datadog for logging and monitoring.</li>
          <li>The app has since been extended to support multiple payment methods.</li>
        </ul>
        <p>Local development environment</p>
        <ul>
          <li>
            Improved local kubernetes development experience by adding
            <a href="https://tilt.dev" target="_blank">Tilt</a>.
          </li>
        </ul>
      </li>
      <li>
        <strong
          >Intermediate Software Developer |
          <a href="https://www.electrum.co.za" target="_blank">Electrum Payments</a></strong
        >
        <p><em>October 2019 - May 2021</em></p>
        <p>Recon dashboard</p>
        <ul>
          <li>Enterprise recon dashboard that allowed clients to view and action transactions.</li>
          <li>Created prototype designs and iterated with stakeholders' feedback.</li>
          <li>Designed pages using Figma.</li>
          <li>Built dashboard into a new section of existing front end using React and Redux.</li>
        </ul>
        <p>Mentoring</p>
        <ul>
          <li>Mentored junior developers through their first three months at Electrum.</li>
          <li>Mentored interns through the six week graduate programme.</li>
        </ul>
      </li>
      <li>
        <strong
          >Junior Software Developer |
          <a href="https://www.electrum.co.za" target="_blank">Electrum Payments</a></strong
        >
        <p><em>February 2017 - September 2019</em></p>
        <ul>
          <li>
            Added new pages and features to a bespoke client operations front end, written in vanilla HTML, CSS, and
            Javascript.
          </li>
          <li>
            Implemented a new API for purchasing Lotto tickets including the corresponding vendor integration in Java.
          </li>
          <li>
            Took over development of the client dashboard front end from a contractor, built with React and Redux.
          </li>
          <li>Joined the Product team, which worked on the company's core products.</li>
          <li>Built masking framework for message serialisation.</li>
        </ul>
      </li>
      <li>
        <strong
          >Junior Software Developer | <a href="https://clockworkacorn.com/" target="_blank">Clockwork Acorn</a></strong
        >
        <p><em>November 2015 - January 2017</em></p>
        <ul>
          <li>Implemented features of a visual SDK in Javascript using JQuery.</li>
          <li>Built a desktop application using React and Electron that wraps a CLI tool for scanning files.</li>
        </ul>
      </li>
      <li>
        <strong
          >Software Development Intern |
          <a href="https://www.triggerfish.com/" target="_blank">Triggerfish Animation Studios</a></strong
        >
        <p><em>July 2015</em></p>
        <ul>
          <li>
            Built a Maya plugin that analysed all camera movements over the course of a scene to produce the smallest
            necessary matte painting geometry.
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="wrapper flow prose region">
    <h2>Education</h2>
    <ul class="flow" role="list">
      <li>
        <strong>Computer Science | <a href="https://uct.ac.za/" target="_blank">University of Cape Town</a></strong>
        <p><em>January 2012 - November 2015</em></p>
        <ul>
          <li>BSc (Hons) in Computer Science and Computer Games Development</li>
          <li>
            Built a <a href="/public/vr-report.pdf">VR application for previsualisation</a> using Unity and an Oculus
            Rift.
          </li>
          <li>Worked with 3D animation students to build a platformer adventure game.</li>
          <li>Tutored Computer Science from 2013 to 2015.</li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="wrapper prose region last-updated"><p>Last updated on 27 September 2023</p></section>
</main>
