---
layout: layouts/base.liquid
title: Curriculum Vitae
stylesheets:
 - "/cv/index.css"
---
<header class="print-only">
  <h1>Joshua Ramsbottom</h1>
  <p><a href="mailto:josh@ramsbottom.dev">josh@ramsbottom.dev</a></p>
  <p><a href="https://www.linkedin.com/in/joshua-ramsbottom/">linkedin.com/in/joshua-ramsbottom/</a></p>
  <p><a href="https://github.com/joshramsbottom/" title="@joshramsbottom on GitHub">github.com/joshramsbottom</a></p>
  <p>Cape Town, South Africa</p>
</header>
<main>
  <section class="wrapper flow prose region">
    <h2>Objective</h2>
    <p>
      Work for a company that is transparent, in a role where I can shape products that make the world better for
      everyone.
    </p>
  </section>
  <section class="wrapper flow prose region">
    <h2>Work</h2>
    <ul class="flow" role="list">
      <li>
        <strong>Full Stack Engineer | <a href="https://stitch.money" target="_blank">Stitch</a></strong>
        <p><em>May 2023 - Present</em></p>
        <ul>
          <li>
            Established a frontend engineering guild to create a place for engineers who are passionate about frontend
            at Stitch to discuss the technical direction of frontend, tech debt, and other issues. This quickly showed
            that there was a large amount of work that could not be prioritised by any of the existing teams and led to
            the creation of a new team.
          </li>
          <li>
            Designed and built frontend SDKs using web components for securely capturing card details and enabling
            payments with <a href="https://www.stitch.money/digital-wallets" target="_blank">digital wallets</a>, the
            first of its kind in South Africa.
          </li>
          <li>
            Collaborated with our designer to create and implement the UI for
            <a href="https://www.stitch.money/pay-with-crypto" target="_blank">paying with crypto.</a>
          </li>
          <li>
            Built a true first-in-first-out disbursement queuing product to enable processing disbursements
            deterministically. Increased speed at which large batches are processed compared to existing solution from
            25 minutes to 59 seconds for a batch of 2000 disbursements.
          </li>
        </ul>
      </li>
      <li>
        <strong>Engineering Team Lead | <a href="https://stitch.money" target="_blank">Stitch</a></strong>
        <p><em>June 2022 - April 2023</em></p>
        <p>Capitec Pay</p>
        <ul>
          <li>Led the team that integrated the Capitec Pay API including recon and settlement for merchants.</li>
          <li>Provided technical oversight and communicated project status with stakeholders.</li>
          <li>Ran planning sessions, 1-1 check-ins, and performance reviews with team members.</li>
          <li>Supported integration during go live process.</li>
          <li>Integration handles thousands of payments per day.</li>
        </ul>
      </li>
      <li>
        <strong>Front End Engineer | <a href="https://stitch.money" target="_blank">Stitch</a></strong>
        <br>
        <em>June 2021 - May 2022</em>
        <p>Hosted UI</p>
        <ul>
          <li>Architected the web application for facilitating account linking and payment initiation.</li>
          <li>Runs on mobile, desktop, and can be embedded in other applications.</li>
          <li>Built with Next.js, Typescript, XState, and Tailwind to be modular and themable.</li>
          <li>Collaborated with designers and implemented custom generic components and pages from Figma designs.</li>
          <li>Developed a mechanism for loading custom forms dynamically.</li>
          <li>Handles over 100 000 sessions per day.</li>
          <li>Identified and added new local development tools to increase team productivity.</li>
        </ul>
      </li>
      <li>
        <strong
          >Intermediate Software Developer |
          <a href="https://www.electrum.co.za" target="_blank">Electrum Payments</a></strong
        >
        <p><em>October 2019 - May 2021</em></p>
        <ul>
          <li>Designed and built enterprise recon dashboard using Figma, React and Redux.</li>
          <li>Integrated Keycloak to provide enterprise authentication.</li>
          <li>Mentored interns and junior developers.</li>
        </ul>
      </li>
      <li>
        <strong
          >Junior Software Developer |
          <a href="https://www.electrum.co.za" target="_blank">Electrum Payments</a></strong
        >
        <p><em>February 2017 - September 2019</em></p>
        <ul>
          <li>
            Implemented a new API for purchasing Lotto tickets including the corresponding vendor integration in Java.
          </li>
          <li>
            Took over development of the client dashboard front end from a contractor, built with React and Redux.
          </li>
        </ul>
      </li>
      <li>
        <strong
          >Junior Software Developer | <a href="https://clockworkacorn.com/" target="_blank">Clockwork Acorn</a></strong
        >
        <p><em>November 2015 - January 2017</em></p>
        <ul>
          <li>Implemented front and back-end features on a visual SDK built with Node.js and JQuery.</li>
          <li>Built a simple desktop app that provides a GUI for a CLI tool using Electron, React, and Redux.</li>
        </ul>
      </li>
      <li>
        <strong
          >Software Development Intern |
          <a href="https://www.triggerfish.com/" target="_blank">Triggerfish Animation Studios</a></strong
        >
        <p><em>July 2015</em></p>
        <ul>
          <li>
            Built a Softimage plugin that analysed all camera movements over the course of a scene to produce the
            smallest necessary matte painting geometry.
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="wrapper flow prose region">
    <h2>Education</h2>
    <ul class="flow" role="list">
      <li>
        <strong>UX Design | <a href="https://getsmarter.co.za">GetSmarter</a></strong>
        <p><em>February 2019 - July 2019</em></p>
      </li>
      <li>
        <strong>Computer Science | <a href="https://uct.ac.za/" target="_blank">University of Cape Town</a></strong>
        <p><em>January 2012 - November 2015</em></p>
        <ul>
          <li>BSc (Hons) in Computer Science and Computer Games Development</li>
          <li>
            Built a <a href="/public/vr-report.pdf">VR application for previsualisation</a> using Unity for the Oculus
            Rift.
          </li>
          <li>Worked with 3D animation students to build a platformer adventure game with Unity.</li>
          <li>Tutored Computer Science from 2013 to 2015.</li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="wrapper prose region last-updated">
    <p>Last updated on {{ now | readableDate }}</p>
  </section>
</main>
