.header {
  display: flex;
  justify-content: space-between;
  padding-block: var(--space-s-m);
}

.header > a {
  text-decoration: none;
  font-weight: 700;
}

.header nav ul {
  margin: 0;
  --gutter: var(--space-s-m);
}
