---
layout: layouts/base.liquid
title: Curriculum Vitae
---
<main class="region">
  <div class="wrapper flow">
    <h1>{{ title }}</h1>
    <h2>Professional</h2>
    <h2>Education</h2>
  </div>
</main>
