---
layout: layouts/base.liquid
title: hi, i'm josh
stylesheets:
 - "/index.css"
---
<main>
  <div class="region wrapper flow">
    <h1>{{ title }}</h1>
    <p>
      I'm a full stack developer with over 7 years of experience building fintech products, currently working at
      <a href="https://stitch.money" target="_blank">Stitch</a>.
    </p>
    <p>I am passionate about frontend, developer experience, and building teams where people can do their best work.</p>
  </div>
</main>
