---
layout: layouts/base.liquid
title: hi, i'm josh
---
<main>
  <div class="region wrapper flow">
    <h1>{{ title }}</h1>
    <p>
      I'm a full stack developer with an eye for design, currently working at
      <a href="https://stitch.money" target="_blank">Stitch</a>.
    </p>
    <p>🚧 this site is WIP 🚧</p>
  </div>
</main>
