<footer class="wrapper no-print footer">
  <a href="https://github.com/joshramsbottom/" title="@joshramsbottom on GitHub">
    <svg width="32" height="32" viewBox="0 0 98 96" preserveAspectRatio="xMinYMin" aria-hidden="true">
      <use xlink:href="#icon-github"></use>
    </svg>
  </a>
</footer>
