<header class="header wrapper no-print">
  <a href="/" aria-label="Joshua Ramsbottom">J🐏🍑</a>
  <nav>
    <ul role="list" class="cluster">
      <li>
        <a
          href="/"
          {%- if page.url == '/' -%}
            active
          {%- endif -%}
          >home</a
        >
      </li>
      <li>
        <a
          href="/cv/"
          {% if page.url == '/cv/' %}
            active
          {% endif %}
          >cv</a
        >
      </li>
    </ul>
  </nav>
</header>
