<header class="header wrapper" role="banner">
  <nav aria-label="primary navigation">
    <ul role="list">
      {% for item in nav.pages %}
      <li>
        <a
          {% if page.url === nav.url %}aria-current="page"{% endif %}
          href="{{ item.url }}">
            {{ item.label }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
